.postsBlock {
  padding: 10px;
}

.postsBlock h3 {
  color: rgba(4, 72, 117, 0.822);
}

.posts {
  margin-top: 50px;
  color: rgba(4, 72, 117, 0.822);
}

.newPost {
  margin: 10px 0;
}

.addPost {
  margin: 10px 0;
}
