.dialogs {
display: grid;
grid-template-columns: 2fr 10fr;
}

.dialogsItem {
padding: 10px;
}

.dialog img {
width: 50px;
	height: 50px;
	border-radius: 30px;
}

.dialog.active {
color:gold;
}


.messages{
padding: 10px;
}

.messagesArea {
margin: 10px;
height: 300px;
background-color: rgba(61, 206, 250, 0.411);	
}

.newMessages {
padding: 50px 0 0 0;
}